
.mainArea {

    width: 80vw;
    color: white;
    font-size: medium;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.092);
    margin-left: 17vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chartContainer {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

#summaryDetails{
    margin: auto;
    width: 85%;
    font-size: medium;
}

#backButton{
    background: white;
    width: 80px;
    height: 40px;
    margin-right: 75vw;
}

